mat-card {
  margin: 30px;
  padding: 30px;
}

// @media screen and (max-width: 800px) {
//   .row {
//     display: block;
//   }
// }

@media screen and (min-width:800px) {
  .row {
    display: flex;
  }
}


.row {
  //display: flex;
  // flex-wrap: wrap;

  .col {
    text-align: center;
    padding: 10px;
    flex: 50%;
    // min-width: 400px;
  }
}

signature-pad {
  background-color: green;


}



.example-form {
  width: 100%;
}
