<mat-card>
  <h1>Welcome to Denhac!</h1>
  <p>Please take a moment to review the below form and sign it</p>
  <p>Info about Denhac</p>
</mat-card>
<mat-card class="agreement-form">
  <h2 class="center">RELEASE AND INDEMNITY AGREEMENT</h2>
  <p>I acknowledge that the equipment offered for use at the DENHAC facility may be hazardous, and I am aware of the
    inherent risk of physical injury and other dangers associated with the use of the equipment and the programs. In
    consideration for DENHAC providing me with access to the DENHAC facility and equipment, I hereby accept and fully
    assume all such risks and dangers and the possibility of personal injury, death, and property damage or loss
    resulting from such use and participation. I also hereby release, hold harmless and indemnify DENHAC and all other
    employees and members at the facility from any and all claims, actions, costs, expenses, and demands in respect to
    death, injury, loss or damage that I may suffer arising out of or in connection with my use of the equipment or my
    participation in DENHAC activities, due to any cause whatsoever, including without limitation the negligence of
    DENHAC, DENHAC’s Landlord or Sublandlord, the facility and any one or more employees or members of DENHAC. I assume
    all responsibility and liability for actions resulting due to negligence in operating or maintaining DENHAC
    equipment per posted rules and guidelines.</p>
  <p>I agree that I have fully read the Release and Indemnity Agreement prior to signing and I am fully aware that by
    signing this agreement I am affecting my legal rights.</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Legal Name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Handle (Optional)" value="">
    </mat-form-field>
    <app-signature></app-signature>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email">
    </mat-form-field>
  </form>
  Date
  I'd like to receive more information about denhac
</mat-card>
