<mat-card class="header-bar">
  <div class="row">
    <img src="assets/denhac_logo.jpg">
    <div class="col left">
      <h1>Welcome to Denhac!</h1>
      <p>Please take a moment to review the below form and sign it</p>
      <p>denhac is a 501(c)3 organization, supported by a community of volunteers and members who contribute to the
        space
        with memberships, donations, and time.</p>
      <p>denhac is a vibrant and growing community. Come visit us at one of our open houses on Tuesday nights at 8:00
        PM.
        If you like what you see, please feel free to donate money or equipment, or become a member for unlimited 24/7
        access
        to the space and all the awesomeness inside!</p>
    </div>
  </div>
</mat-card>
<mat-card class="agreement-form">
  <h2 class="center">RELEASE AND INDEMNITY AGREEMENT</h2>
  <p>I acknowledge that the equipment offered for use at the DENHAC facility may be hazardous, and I am aware of the
    inherent risk of physical injury and other dangers associated with the use of the equipment and the programs. In
    consideration for DENHAC providing me with access to the DENHAC facility and equipment, I hereby accept and fully
    assume all such risks and dangers and the possibility of personal injury, death, and property damage or loss
    resulting from such use and participation. I also hereby release, hold harmless and indemnify DENHAC and all other
    employees and members at the facility from ansy and all claims, actions, costs, expenses, and demands in respect to
    death, injury, loss or damage that I may suffer arising out of or in connection with my use of the equipment or my
    participation in DENHAC activities, due to any cause whatsoever, including without limitation the negligence of
    DENHAC, DENHAC’s Landlord or Sublandlord, the facility and any one or more employees or members of DENHAC. I assume
    all responsibility and liability for actions resulting due to negligence in operating or maintaining DENHAC
    equipment per posted rules and guidelines.</p>
  <p>I agree that I have fully read the Release and Indemnity Agreement prior to signing and I am fully aware that by
    signing this agreement I am affecting my legal rights.</p>
  <form class="example-form">
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Legal Name" value="" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Legal name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Handle/Nickname (Optional)" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email (Optional)" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <!-- <mat-hint>Looking Good!</mat-hint> -->
          <mat-error *ngIf="emailFormControl.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col center">
        <app-signature></app-signature>
      </div>

    </div>



    <div class="center">
      <button mat-raised-button layout-align="center center" color="primary" (click)="onSubmit()">I
        Agree</button>
    </div>
  </form>
</mat-card>
